<section>
  <p>Hi. Darkwing Daphne here. Nice to meet you! I love lots of things. But not all the things. I am a student at Ada Developers Academy, Cohort[3].</p>
  <a href="http://adadevelopersacademy.org/" target="_blank"><img class="ada" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b5/Ada_Developers_Academy.svg/1024px-Ada_Developers_Academy.svg.png" alt="Ada Developers Academy" /></a>
</section>

<aside>
  <table>
    <tbody>
      <tr>
        <td>
          <%  %>
          <a href="<%= @url_prefix %><%= cat = @derpy_cats.pop %>" alt="cat" target="_blank">
            <img class="kitty-photo" src="<%= @url_prefix %><%= cat %>"/>
          </a>
        </td>
        <td>
          <a href="<%= @url_prefix %><%= cat = @derpy_cats.pop %>" alt="cat" target="_blank">
            <img class="kitty-photo" src="<%= @url_prefix %><%= cat %>"/>
          </a>
        </td>
        <td>
          <a href="<%= @url_prefix %><%= cat = @derpy_cats.pop %>" alt="cat" target="_blank">
            <img class="kitty-photo" src="<%= @url_prefix %><%= cat %>"/>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</aside>
