<section>
  <p>Hi. Darkwing Daphne here. Nice to meet you! I love lots of things. But not all the things.</p>
</section>

<aside>
  <table>
    <tbody>
      <tr>
        <td>
          <%  %>
          <a href="<%= @url_prefix %><%= cat = @derpy_cats.pop %>">
            <img src="<%= @url_prefix %><%= cat %>"/>
          </a>
        </td>
        <td>
          <a href="<%= @url_prefix %><%= cat = @derpy_cats.pop %>">
            <img src="<%= @url_prefix %><%= cat %>"/>
          </a>
        </td>
        <td>
          <a href="<%= @url_prefix %><%= cat = @derpy_cats.pop %>">
            <img src="<%= @url_prefix %><%= cat %>"/>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</aside>
