<article>
  <table>
    <% @bloggin.reverse.each do |blog| %>
      <% if blog[:num].odd? %>
        <tr>
          <td class="blog">
            <h1 class="blog-title"><%= blog[:title] %></h1>
            <h2><%= blog[:date] %></h2>
            <p>
              <%= blog[:entry] %>
            </p>
          </td>
          <td>
            <img class="blog-photo" src="<%= blog[:photo] %>" />
          </td>
        </tr>
      <% else %>
        <tr>
          <td>
            <img class="blog-photo" src="<%= blog[:photo] %>" />
          </td>
          <td class="blog">
            <h1 class="blog-title"><%= blog[:title] %></h1>
            <h2><%= blog[:date] %></h2>
            <p>
              <%= blog[:entry] %>
            </p>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</article>
