<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet">
    <link href="/duck-icon.png" rel="shortcut icon">

    <meta name="author" content="Darkwing Daphne">
    <meta charset="UTF-8">

    <title><%= @title %></title>
  </head>
  <body class="wrapper">
    <header>
      <hr />
      <nav class="top-nav">
        <a href="index">HOME</a> |
        <a <%= @about_bold %> href="about">ABOUT</a> |
        <a <%= @blog_bold %> href="blog">BLOG</a> |
        <a <%= @projects_bold %> href="projects">PROJECTS</a>
      </nav>
      <hr />
    </header>
    <div class="spacer"></div>
      <%= yield %>

    <footer>
      <div class="social-media-links">
        <a class="twirl" href="https://www.facebook.com/daphne.gold"><img alt="follow me on facebook" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-48.png" border=0></a>
        <a class="twirl" href="https://twitter.com/darkwingdaphne"><img alt="follow me on twitter" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_tumblr-48.png" border=0></a>
        <a class="twirl" href="https://instagram.com/darkwingdaphne/"><img alt="follow me on instagram" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-48.png" border=0></a>
      </div>
      <p class="copyright">&copy; <%= Time.now.year %> Daphne Gold, Inc. All rights reserved.</p>
    </footer>
  </body>
</html>
