<section class="projects">

  <ul>
    <h2>CURRENT PROJECTS</h2>
    <% @current_projects.each do |project| %>
      <li><a href="<%= project[:link] %>"><%= project[:title] %></li></a>
      <% unless project[:collab].nil? %>
        Joint work with <%= project[:collab] %>
      <% end %>
    <% end %>
  </ul>


  <ul>
    <h2>COMPLETED PROJECTS</h2>
    <% @completed_projects.each do |project| %>
      <li><a href="<%= project[:link] %>"><%= project[:title] %></li></a>
      <% unless project[:collab].nil? %>
        Joint work with <%= project[:collab] %>
      <% end %>
    <% end %>
  </ul>
</section>

<marquee direction=up behavior=alternate height=450px width=350px><img src="http://25.media.tumblr.com/05bdbdc72871fe5eb73b75a982af7182/tumblr_mvphywSOM01qjomw7o1_400.gif"/></marquee>
